<footer class="bg-100 text-center text-dark">
    <div class="container p-4">
      <section class="mb-4">
        <a class="btn btn-floating m-1" href="#!" role="button"><img src="C:\Users\pablo\OneDrive\Escritorio\NegociosPro\fb.png" alt=""></a>
        <a class="btn btn-floating m-1" href="#!" role="button"><img src="C:\Users\pablo\OneDrive\Escritorio\NegociosPro\google.png" alt=""></a>
        <a class="btn btn-floating m-1" href="#!" role="button"><img src="C:\Users\pablo\OneDrive\Escritorio\NegociosPro\insta.png" alt=""></a>
      </section>
  
      <section class="">
        <form action="">
  
          <div class="row d-flex justify-content-center">
  
            <div class="col-auto">
              <p class="pt-2">
                <strong>Sign up for our newsletter</strong>
              </p>
            </div>
  
            <div class="col-md-5 col-12">
  
              <div class="form-outline form-white mb-4">
                <input type="email" id="form5Example2" class="form-control" />
                <label class="form-label" for="form5Example2">Email address</label>
              </div>
            </div>
  
            <div class="col-auto">
  
              <button type="submit" class="btn btn-outline-light mb-4">
                Subscribe
              </button>
            </div>
  
          </div>
  
        </form>
      </section>
  
      <section class="mb-4">
        <p>
          Keep aware about our newest news and offers.
          You can unfollow us whenever you want, we invite you to check out for our privacy terms and conctact
          information.
        </p>
      </section>
  
      <section class="">
  
        <div class="row">
  
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Products</h5>
  
            <ul class="list-unstyled mb-0">
              <li>
                <a href="#!" class="text-white">Price off</a>
              </li>
              <li>
                <a href="#!" class="text-white">New Books</a>
              </li>
              <li>
                <a href="#!" class="text-white">Best sellers</a>
              </li>
            </ul>
          </div>
  
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">This Enterprise</h5>
  
            <ul class="list-unstyled mb-0">
              <li>
                <a href="#!" class="text-white">Deliver</a>
              </li>
              <li>
                <a href="#!" class="text-white">Legal Advertisement</a>
              </li>
              <li>
                <a href="#!" class="text-white">Terms and conditions</a>
              </li>
              <li>
                <a href="#!" class="text-white">About Us</a>
              </li>
              <li>
                <a href="#!" class="text-white">Contact Us</a>
              </li>
            </ul>
          </div>
  
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Your Account</h5>
  
            <ul class="list-unstyled mb-0">
              <li>
                <a href="#!" class="text-white">Personal Information</a>
              </li>
              <li>
                <a href="#!" class="text-white">Orders</a>
              </li>
              <li>
                <a href="#!" class="text-white">Directions</a>
              </li>
            </ul>
          </div>
  
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">The Store</h5>
  
            <ul class="list-unstyled mb-0">
              <li>
                <a href="#!" class="text-white">BookLife</a>
              </li>
              <li>
                <a href="#!" class="text-white">México</a>
              </li>
              <p>Send us an email <strong>BookLife@gmail.com</strong></p>
            </ul>
          </div>
  
        </div>
  
      </section>
  
    </div>
  
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2022 Copyright:
      <a class="text-white" href="#!">BookLife.com</a>
    </div>
  
  </footer>