<div id="header-div">
    <ul class="navbar bg-negro mb-0 sticky-top">
      <div id="nav1">
        <li class="nav-item">
          <nav class="navbar bg-main ms-1">
            <div class="container-fluid">
  
              <!-- Example split danger button -->
              <div class="btn-group">
                <a class="navbar-brand text-blanco" href="usuariolog.html">
                  <img src="/assets/logo.jpeg" alt="BookLife" class="text-blanco d-inline-block align-text-top">
                </a>
                <button type="button" class="btn btn-logo text-blanco dropdown-toggle dropdown-toggle-split"
                  data-bs-toggle="dropdown" aria-expanded="false">
                  <span class="visually-hidden">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Lista de Deseos</a></li>
                  <li><a class="dropdown-item" href="#">Carro de compras</a></li>
                  <li>
                    <hr class="dropdown-divider">
                  </li>
                  <li><a class="dropdown-item" href="#">Contáctanos</a></li>
                </ul>
              </div>
            </div>
          </nav>
        </li>
        <li class="navbar bg-negro dropdown ms-4">
          <a class="nav-link dropdown-toggle text-blanco" href="#" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Libros
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="catalogof.html">Físico</a></li>
            <li><a class="dropdown-item" href="catalogoe.html">E-Book</a></li>
          </ul>
        </li>
  
        <li class="navbar bg-negro ms-4">
          <a class="nav-link text-blanco" href="catalogotodos.html">Explorar</a>
        </li>
  
        <li class="navbar bg-negro ms-4">
          <a class="nav-link text-blanco" href="">Sobre Nosotros</a>
        </li>
  
      </div>
  
      <div id="nav2">
        <li class="navbar ms-4">
          <a class="btn text-blanco" href="#">Mi Perfil</a>
  
        </li>
        <li class="navbar ms-4">
          <a class="btn text-blanco" href="/book-life/login">Salir</a>
        </li>
      </div>
  
    </ul>
  </div>